<!-- Listar os clientes com a indicação dos pedidos e sua situação -->

<div class="container">
    <div class="row">
        <div class=""  ng-repeat="c in data">
            <div class="thumbnail col-xs-12 col-sm-4">
                <a href="#!/list/{{c.id}}">
                    <img ng-src="img/logos/{{c.logo}}" style="max-height: 100px" alt="Logotipo"/>
                </a>
                <div class="caption">
                    <h4 class="text-center text-info">{{c.nome}}</h4>
                    <ul class="list-unstyled" ng-repeat="ord in c.orders">
                        <li class="list-group-item-info">{{ord.situacao}}  <span class="pull-right">{{ord.qty}}</span> </li>
                    </ul>
                </div>
            </div>
            <div ng-if="($index+1) % 3 == 0" class="col-xs-12">&nbsp;</div>
        </div>
    </div>
    
</div>

