<div class="container">
    <div class="text-center">
        <h2 class="text-info">Listagem de Pedidos - {{clt.nome}}
            <a class="btn btn-info pull-right" href="#!/newTema/{{clt.id}}"><i class="fa fa-plus"></i> Novo Tema</a>
        </h2>
        <span class="pull-right form-inline" style="margin-right: 100px">
           <i class="fa fa-search text-info"></i>
           <input type="text" ng-model="searchFilter" class="form-control" placeholder="Filtrar por..." >         
       </span>        
    </div>
    <br/>
    <!-- Tabela com a lista dos pedidos -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table ng-table="paramsTable" class="table table-condensed">
                    <thead>
                        <tr>
                           <th>Numero
                                <a href="" ng-click="sort('ref')" class="sortDir text-danger" ng-class="{ active: isSorted('ref') }">&#x25B2;</a>
                                <a href="" ng-click="sort('-ref')" class="sortDir text-danger" ng-class="{ active: isSorted('-ref' ) }">&#x25BC;</a>                            
                            </th>  
                            <th>&nbsp;</th>
                            <th>Tema
                                <a href="" ng-click="sort('tema')" class="sortDir text-danger" ng-class="{ active: isSorted('tema') }">&#x25B2;</a>
                                <a href="" ng-click="sort('-tema')" class="sortDir text-danger" ng-class="{ active: isSorted('-tema' ) }">&#x25BC;</a>                            
                            </th>                            ´
                            <th>Data do Pedido
                                <a href="" ng-click="sort('dataPedido')" class="sortDir text-danger" ng-class="{ active: isSorted('dataPedido') }">&#x25B2;</a>
                                <a href="" ng-click="sort('-dataPedido')" class="sortDir text-danger" ng-class="{ active: isSorted('-dataPedido' ) }">&#x25BC;</a>                 
                            </th>
                            <th>Estado
                                <a href="" ng-click="sort('status')" class="sortDir text-danger" ng-class="{ active: isSorted('status') }">&#x25B2;</a>
                                <a href="" ng-click="sort('-status')" class="sortDir text-danger" ng-class="{ active: isSorted('-status' ) }">&#x25BC;</a>                 
                            </th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in $data | orderBy:predicate:reverse | filter: searchFilter"">
                      <th>{{p.ref}}</th> 
                      <td><img ng-src="img/{{p.folder}}/{{p.imagem}}" class="imgSmall" alt="" ng-click="showBigger(p.folder, p.imagem)"/></td>
                      <td class="text-center"> {{p.tema}}  </td>
                        <!--     <td>{{p.refCliente}}</td>  -->
                            
                            <td>{{p.dataPedido}}</td>
                            <td>{{p.status}}</td>
                            <td>
                                <a ng-show="p.situacao == 1" href="#!/tema/{{clt.id}}/{{p.id}}" class="btn btn-primary" title="Completar tema"><span class="fa fa-pencil"></span></a>
                                <a ng-show="p.situacao == 2" ng-click="docForClient(p)" class="btn btn-info" title="Imprimir folhas para o cliente"><span class="fa fa-print"></span></a>
                                <a ng-show="p.situacao == 2" href="#!/fillord/{{p.id}}" class="btn btn-success" title="Preencher dados do pedido"><span class="fa fa-pencil-square-o"></span></a>
                                <a ng-show="p.situacao == 2" ng-click="changeToEditPedido(p.id)" class="btn btn-warning" title="Editar pedido"><span class="fa fa-pencil"></span></a>
                            <!--    <a ng-show="p.situacao == 3" href="#!/ordDet/{{p.id}}" class="btn btn-success" title="Editar pedido"><span class="fa fa-pencil"></span></a>  -->
                                <a ng-show="p.situacao == 3" class="btn btn-primary" title="Imprimir folhas para produção" ng-click="docToProd(p.id)"><span class="fa fa-print"></span></a>
                                <a ng-show="p.situacao == 3" class="btn btn-warning" title="Editar" ng-click="changeToEdit(p.id)"><span class="fa fa-pencil"></span></a>
                                <a ng-show="p.situacao == 5" href="#!/prod/{{p.id}}" class="btn btn-success" title="Produção. Ver detalhes (not working)"><span class="fa fa-cogs"></span></a>
                                <a ng-show="p.situacao == 5" ng-click="voltarAtras(p.id)" class="btn btn-warning" title="Voltar atrás"><span class="fa fa-undo"></span></a>
                                <a ng-show="p.situacao == 5" ng-click="finalizarProd(p.id)" class="btn btn-default pull-right" title="Finalizar a produção"><span class="fa fa-truck"></span></a>
                                <button ng-show="p.situacao<5" ng-click="deletePedido(p.id)" class="btn btn-danger pull-right" title="Eliminar pedido"><span class="fa fa-times"></span></button>
                                <a ng-show="p.situacao == 6" ng-click="voltarAtras5(p.id)" class="btn btn-warning pull-right" title="Voltar atrás"><span class="fa fa-undo"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <a class="btn btn-warning" href="#!/dashboard"> Voltar</a>
                    <a class="btn btn-info" href="#!/newTema/{{clt.id}}"><i class="fa fa-plus"></i> Novo Tema</a>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Modal to show bigger picture  -->
<script type="text/ng-template" id="modalShowBigger.html" ng-controller="modalInstanceShowBigger"> 
<div class="modal-body">
    
    <img ng-src="img/{{folder}}/{{imagem}}" style="width:90%" alt=""/>
   
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="closeModal()">Fechar</button>
</div>
</script>